rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isAdmin() { return signedIn() && request.auth.token.role == "admin"; }

    match /reports/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /resolutions/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }
  }
}
